body{
    background-color: #efefef;
   
}
*{
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}
li{
    list-style: none;
    
}
a{
    color:#cbcacd;
    text-decoration: none;
}
.clearfix::after{
    content: '';
    display: block;
    clear: both;
  }

[data-x].offset{
    transform:translateY(100px);

}
[data-x]{
    transform: translateY(0);
    transition: all 0.5s;

}
  header{
    width: 100%;
    
  }
  .topNavBar{
      width: 100%;
      padding: 20px 0px 20px 0px;
      position: fixed;
      z-index: 1;
      transition: all 1.5s;
  }
  .topnavbar-wrapper{
    margin-left: 176.5px;
    margin-right: 176.5px;
    padding: 0 15px;
  }
.topNavBar.sticky{
    background: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    padding: 10px 0;
    
}
.topNavBar.sticky a{
    color: #3d4451;
}
  .topNavBar .logo{
      float: left;
      color: tomato;
      width: 16%;
      padding: 0 15px;
      line-height: 40px;
      font-family: "Fredoka One";
      font-size: 30px;
      font-weight: bold;
  }
  .topNavBar nav >ul >li{
      float: left;
      display: block;
      margin: 0 14px;
      font-size: 12px;
      font-weight: bold;
      color: white;
      position: relative;
  }
  .topNavBar nav >ul >li>a{
   padding: 5px 0;
}
  .topNavBar .headnav{
      line-height: 40px;
      width: 70%;
      float: right;
     
     
  }
  .topNavBar nav >ul >li.active >a::after,
  .topNavBar nav > ul > li.highlight > a::after {
   
    content: '';
    display: block;
    width: 100%;
    top:100%;
    position: absolute;
    height: 3px;
    background: #e8676b;
    animation: bottomBar .3s;

}
@keyframes bottomBar{
    0%{
        width: 0%;
    }
    100%{
        width: 100%;
    }
}
.topNavBar .submenu{
    display: none;
    position: absolute;
    right: 0;
    top: 110%;
    background: white;
    color: #3d4451;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
}
.topNavBar li.active> .submenu{
    display: block;
    animation: submenuSlide .3s;
}
@keyframes submenuSlide{
    0%{
        margin-right: 100%;
    }
    100%{
        margin-right: 0%;
    }
}
.topNavBar .submenu > li{
    white-space: nowrap;
    padding: 0 10px;
}
#rs{
    color: tomato;
   margin-right: 4px;
  
}
#card{
    color:#9a9da2;
}
.banner{
    background: url(../image/rs-cover.jpg);
    height:515px;
    background-position: center center;
    background-size: cover;
}
.banner .mask{
    height: 515px;
    background-color: rgba(0, 0, 0, 0.8);
}
main .picture{
    float: left;
}
main .text{
    float: left;
    margin-left: 65px;
    width: 470px;
}
.userCard {
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    background-color: #ffffff;
    z-index: 3;
    margin-top: -350px;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.5);
}
.userCard .picturetext {
    padding: 50px;
}
.userCard dl dt {
    width: 30%;
    font-weight: bold;
    float: left;
    padding: 5px 0;
}
.userCard dl dd{
    width: 70%;
    color: #9da0a7;
    float: left;
    padding: 5px 0;
}
.text .welcome{
    background: #e6686a;
    color: white;
    display: inline-block;
    padding: 4px 16px;
    line-height: 22px;
    position: relative;
    margin-bottom: 10px;
}
.text .welcome .triangle {
    display: block;
    border: 10px solid transparent;
    width: 0px;
    border-left-color: #e6686a;
    border-top-width: 0px;
    position: absolute;
    left: 4px;
    top: 100%;
}
.text h1 {
    margin-top: 18px;
}
hr {
    height: 0;
    border: none;
    border-top: 1px solid #DEDEDE;
}
.userCard .text hr {
    margin: 20px 0;
}
.media {
    background: #E6686A;
    text-align: center;
}
.media svg {
    width: 30px;
    height: 30px;
    fill: white;
    vertical-align: top;
}
.media > a {
    display: inline-block;
    width: 40px;
    line-height: 20px;
    padding: 5px 0;
    border-radius: 50%;
    margin: 10px;
}
.media > a:hover {
    background: #CF5D5F;
}
.resumedownload{
    text-align:center;
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
}
.resumedownload a{
    font-size: 14px;
    line-height: 16px;
    padding: 21px 55px;
    border: 1px solid #cdcfd1;
    background: #efefef;
    display: inline-block;
    border-radius: 2px;
    color: #3d4451;
    font-weight: bold;
    margin: 32px 0;
    transition: box-shadow 0.2s;
}
.resumedownload a:hover{
    box-shadow: 0px 4px 13px 0px rgba(0, 0, 0, 0.2);
}
.resumedownload .self-introduction{
    font-family: "Open Sans";
    line-height: 1.2;
    font-size: 20px;
    font-weight: 300;

}
section.skill{
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
}
.skill>h2{
    text-align: center;
    color: #3d4451;
    font-size: 34px;
    line-height: 1.2;
    font-weight: 600;
}
.skill ol{
    background: white;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.5);
    padding: 42px 50px 10px;
    margin-top: 30px;
    margin-bottom: 80px;
}
.skill>ol>li{
    float: left;
    width: 48%;
    box-sizing: border-box;
}
.skill>ol>li:nth-child(even){
    float: right;
}
.skill ol li .progressBar{
    height: 5px;
    background: #FAE1E1;
    border-radius: 2px;
    margin: 4px 0 40px;
    overflow: hidden;
}
.skill ol li .progressBar .progress{
    background:#E6686A;
    height:100%;
    border-radius: 2px;
    transform: translateX(0);
    transition: all 0.5s ;

}
.skill.offset .progressBar .progress{
    transform: translateX(-100%);
}
.portfolio{
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;  
    text-align: center;
    margin-bottom: 100px;
}
.portfolio>h2{
    text-align: center;
    color: #3d4451;
    font-size: 34px;
    line-height: 1.2;
    font-weight: 600;
}
.portfolio nav{
    display: inline-block;
    margin-top: 32px;
}
.portfolio > nav > ol {
    margin: 0 auto;
    display: inline-block;
    vertical-align: top;
}
.portfolio ol li{
    float: left;
    margin-left: 40px;
    display: inline-block;
    cursor: pointer;
}

.portfolio ol li:nth-child(1){
    margin-left: 0;
}

.portfolio nav #portfoliobar{
    height: 5px;
    background: white;
    margin-top: 5px;
    margin-bottom: 28px;
    border-radius: 2px;
}
.portfolio > nav .innerbar {
    height: 100%;
    background: #E6686A;
    border-radius: 2px;
    transition: all 0.3s;
}
.portfolio > nav .state-1 .innerbar {
    margin-left: 0;
    width: 30px;
}
.portfolio > nav .state-2 .innerbar {
    margin-left: 67px;
    width: 126px;
}
.portfolio > nav .state-3 .innerbar {
    margin-left: 230px;
    width: 98px;
}
.portfolio .work .big{
    float: left;
}
.portfolio .work .small{
    float: right;
}
.portfolio .work .small .small1{
    margin-bottom: 24px;
}